body {
    background-color: hsl(243, 96%, 9%);
    width: 100vw;
    height: 100vh;
    margin: auto;
    margin-top: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sandra", sans-serif !important;
}

:root {
    --Neutral: hsl(243, 96%, 9%);
    --Neutral: hsl(243, 27%, 20%);
    --Neutral: hsl(243, 23%, 24%);
    --Neutral: hsl(243, 23%, 30%);
    --Neutral: hsl(240, 6%, 70%);
    --Neutral: hsl(250, 6%, 84%);
    --Neutral: hsl(0, 0%, 100%);
    --Neutral: hsl(248, 70%, 36%);
}

.block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    
}

.text {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.img {
    background-color: hsl(243, 27%, 20%);
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.kk {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
     margin-bottom: 40px;
}

.input {
    background-color: hsl(243, 27%, 20%);
    border: 0px;
    outline: none;
    width: 300px;

}

.btn {
    background-color: hsl(233, 67%, 56%);
    border-radius: 5px;
    padding: 5px;
}

.img-ll {
    width: 650px;
    height: 200px;
    margin-bottom: 20px;
   
}
.ll{
    display: flex;
    flex-direction: column;
   

}
.block2{
    display: flex;
    flex-direction: row;
   
    
    width: 900px;
    margin: auto;
}

.deux{
    width: 200px;
    height: 350px;
    background-color: hsl(243, 23%, 30%);
    border-radius: 10px;
}
.table{
    width: 400px;
    height: 30px;
    gap: 30px;
    margin-left: 40px;
   
}
.td{
    width: 100px;
     height: 30px;
    background-color:hsl(243, 27%, 20%) ;
    border-radius: 5px;

    
    
   
    
}
