body {
    background-color: cadetblue;
}

.first {
    width: 700px;
    height: 430px;
    background-color: white;

    border-radius: 20px;
    display: flex;

    margin: auto;
    margin-top: 55px;
    justify-content: space-between;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sandra", sans-serif !important;
}

.label {
    position: relative;
    display: block;
    flex-direction: row;
    gap: 10px;

    width: 100%;
}

.label label {
    display: block;
    margin-bottom: 5px;

}

.input-prefix {

    position: absolute;
    left: 10px;
    top: 50%;
    color: #555;
    transform: translateY(-50%);
    pointer-events: none;
    /*pour eviter de bloquer le clic*/
}

.input-suffix {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}

label input {
    width: 100%;
    padding: 5px 10px 15px 20px;
    box-sizing: border-box;

}

.input:hover {
    display: flex;
}

.radio:focus {
    display: flex;
}

.nn:focus {
    display: flex;
}

.input {
    width: 140px;
    height: 30px;
    border-radius: 5px;


}

.pp {

    height: 30px;
    border-radius: 5px;


}

.jj {
    display: flex;
    flex-direction: column;
}

.bb {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.all {
    display: flex;
    flex-direction: row;
    gap: 110px;
    padding: 10px;

}

.label {
    display: flex;
    flex-direction: column;
}

.second {
    width: 350px;
    height: 430px;
    background-color: rgb(2, 54, 43);
    border-radius: 0 10px 10px 50px;


}

.img {
    display: flex;
    margin: auto;
    margin-top: 130px;
}

.un {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}

.deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio {
    border: solid 1px;
    height: 30px;
    border-radius: 5px;
}

.nn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 20px;
    margin-top: 30px;
    width: 200px;
    background-color: rgb(169, 169, 39);
}

.error {
    color: red;
    font-size: 13px;
    display: none;
    /*caché par defaut */
}

.text {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25px;
}

@media (max-width:378) {
    .second {
        display: flex;
        flex-wrap: wrap;
    }

}